<!--<ActionBar title="Dashboard" icon="" class="action-bar"></ActionBar>-->
<StackLayout>
    <Label text="Cool Dashboard" class="h1 text-center"></Label>
    <CheckBox [checked]="checkProp" text="Custom checkbox" fillColor="blue"></CheckBox>
</StackLayout>