@import 'nativescript-theme-core/scss/light';

$primary: #fff;
$accent: #384030;

// ActionBar
$ab-background: #A32C28;
$ab-color: $primary;
$secondary: #7B8055;
$btn-color: $accent;
$btn-color-secondary: darken($accent, 5%);

$christmas-alt: #1C090B;
$christmas-vintage: #BCA875;

// Import the theme's main ruleset.
@import 'nativescript-theme-core/scss/index';

.bar{
    height: 30px;
    background-color: $christmas-alt;
}

.top{
    background-color: $secondary;
}

.vintage{
    background-color: $christmas-vintage;
    // height: 100%;
}